.app {
  height: 100vh;
  display: flex;
  background: #020230;
  color: #fff;
}
.main {
  width: 75%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), #020230),
    url("../images/bg.jpg");
  display: flex;
  flex-direction: column;
}
.top {
  height: 50%;
  position: relative;

}
.timer{
    height: 70px;
    width: 70px;
    border-radius: 50%;
    border : 5px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    position: absolute;
    bottom: 10px;
    left: 70px;
}
.bottom {
  height: 50%;
}
.pyramid {
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.moneyList {
  list-style: none;
  width: 100%;
  padding: 20px;
}
.moneyListItem {
  display: flex;
  align-items: center;
  padding: 5px;
  border-radius: 5px;
}
.moneyListItem.active {
  background: teal;
}
.MoneyListItemNumber {
  font-size: 18px;
  font-weight: 100;
  width: 30%;
}
.MoneyListItemAmmount {
  font-size: 20px;
  font-weight: 300;
}

.trivia{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.question{

    width: 80%;
    background: linear-gradient(#100241,#000);
    border: 2px solid white;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
}
.answers{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
    width: 100%;
} 
.answer{
    width: 40%;
    padding: 10px;
    text-align: center;
    background: linear-gradient(#0e0124,#020230);
    border: 1px solid white;
    border-radius: 15px;
    font-size: 20px;
    font-weight: 300;
    cursor: pointer;
    transition: all 0.3s ease-in;
}
.answer:hover,
.answer.active{
    background: blue;
}
.answer.correct{
    animation: correct 2s ease forwards;
}
.answer.incorrect{
   animation: incorrect 2s ease forwards;
}

@keyframes correct {
    0%,22%,45%{
background: mediumblue;
    }
    20%,44%,67%{
        background: linear-gradient(#0e0124,#020230);
    }
    100%{
        background: green;
    }
}
@keyframes incorrect {
    0%,22%,45%{
background: mediumblue;
    }
    20%,44%,67%{
        background: linear-gradient(#0e0124,#020230);
    }
    100%{
        background: red;
    }
}

.endText{
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: #000;
    padding: 20px;
}